@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

html {
	height: 100%;
	background: #3B3B3B;}

h1 {
	position: absolute;
	text-align: center;
	left:0;
	right:0;
	font-family: 'Open Sans', Helvetica;
	color: #807F7D;
	font-size: 25px;
	font-weight: 800;
	z-index: -1;
}
.prob{
	margin-top: 70px;
}
h2{
	text-align: center;
	left:0;
	right:0;
	font-family: 'Open Sans', Helvetica;
	color: #807F7D;
	font-size: 20px;
	font-weight: 300;
}
#Title{
	margin-top: 50px;
}

#canvas {
	position: relative;
	border: 8px solid;
	margin: auto;
	margin-top: 160px;
	border-radius: 15px;
	cursor: pointer;
	text-align: center;
	border-color : #EEE;
}

.centered {
	position: relative;
	text-align: center;
}
.bt{
	margin-top : 10px;
	height: 50px;
	position: relative;
	text-align: center;

}
#clearButton{
	height: 30px;
	width: 80px;
	font-family: 'Open Sans', Helvetica;
	color: #807F7D;
	font-size: 15px;
	font-weight: 700;  
	border-style: none; 
	background : #3B3B3B;

}
.myButton{
	height: 30px;
	width: 80px;
	font-family: 'Open Sans', Helvetica;
	color: #807F7D;
	font-size: 15px;
	font-weight: 700;
	border-style: none; 
	background : #3B3B3B;
}

#info{
	position: absolute;
	bottom: 10px; 
	right: 10px;
	font-family: 'Open Sans', Helvetica;
	color: #807F7D;
	font-size: 15px;
	font-weight: 400;
}


 
/* body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
} */
 
/*侧边栏选择器*/
.sidenav {
    height: 100%;
    width: 0; /*原始宽度*/
    position: fixed;
    /*z-index、top、left共同控制侧栏的悬浮（上方1，下方-1）*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s; /*侧栏延迟0.5s显示*/
	display: flex;
    align-items: center;
}
 
/*侧边栏标签选择器*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; 
}
 
/*侧栏标签和关闭按钮光标的效果*/
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
 
/*侧栏和关闭按钮的位置选择器*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 25px;
    margin-left: 50px;
}
 
/*主体内容*/
#main {
    transition: margin-left .5s;/*主体内容延迟0.5s整体y右移动*/
    padding: 16px;
}
 
/*当文档高度小于450px时，改变侧栏的padding属性和字体大小*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#net{
	font-family: 'Open Sans', Helvetica;
	color: #EEE;
	font-size: 15px;
	font-weight: 300;
}